In [2]:
#chapter 4: for and while loops
#creating a dataframe
import pandas as pd

cars = pd.DataFrame({
    "country": ["United States", "Australia", "Japan", "India", "Russia"],
    "cars_per_cap": [809, 731, 588, 18, 200]
}, index=["US", "AUS", "JPN", "IND", "RUS"])

cars

           country  cars_per_cap
US   United States           809
AUS      Australia           731
JPN          Japan           588
IND          India            18
RUS         Russia           200

In [20]:
#looping over dataframes
for lab, row in cars.iterrows():
    print(lab)
    print(row)

US
country         United States
cars_per_cap              809
COUNTRY         UNITED STATES
Name: US, dtype: object
AUS
country         Australia
cars_per_cap          731
COUNTRY         AUSTRALIA
Name: AUS, dtype: object
JPN
country         Japan
cars_per_cap      588
COUNTRY         JAPAN
Name: JPN, dtype: object
IND
country         India
cars_per_cap       18
COUNTRY         INDIA
Name: IND, dtype: object
RUS
country         Russia
cars_per_cap       200
COUNTRY         RUSSIA
Name: RUS, dtype: object

In [4]:
#looping over dataframes in a format
for lab, row in cars.iterrows():
    print(lab + ": " + str(row["cars_per_cap"]))

US: 809
AUS: 731
JPN: 588
IND: 18
RUS: 200

In [6]:
#adding columns using loop
for lab, row in cars.iterrows():
    cars.loc[lab, "COUNTRY"] = row["country"].upper()

print(cars)

           country  cars_per_cap        COUNTRY
US   United States           809  UNITED STATES
AUS      Australia           731      AUSTRALIA
JPN          Japan           588          JAPAN
IND          India            18          INDIA
RUS         Russia           200         RUSSIA

In [22]:
load = 100
hour = 0

while load < 130:
    load += 5
    hour += 1
    print(f"Hour {hour}: Load = {load}")

Hour 1: Load = 105
Hour 2: Load = 110
Hour 3: Load = 115
Hour 4: Load = 120
Hour 5: Load = 125
Hour 6: Load = 130

In [24]:
# while loop with conditional logic
load = 100

while load < 150:
    if load < 120:
        status = "Low"
    elif load < 140:
        status = "Medium"
    else:
        status = "High"

    print(f"Load = {load}, Category = {status}")
    load += 10

Load = 100, Category = Low
Load = 110, Category = Low
Load = 120, Category = Medium
Load = 130, Category = Medium
Load = 140, Category = High

In [26]:
temps = [65, 68, 72, 75, 80]

for t in temps:
    print(f"Temperature: {t}°F")
for i, t in enumerate(temps):
    print(f"Index {i}, Temperature {t}°F")

Temperature: 65°F
Temperature: 68°F
Temperature: 72°F
Temperature: 75°F
Temperature: 80°F
Index 0, Temperature 65°F
Index 1, Temperature 68°F
Index 2, Temperature 72°F
Index 3, Temperature 75°F
Index 4, Temperature 80°F

In [28]:
#vectorized alternative instead of loop by using apply
cars["COUNTRY"] = cars["country"].apply(str.upper)
print(cars)

           country  cars_per_cap        COUNTRY
US   United States           809  UNITED STATES
AUS      Australia           731      AUSTRALIA
JPN          Japan           588          JAPAN
IND          India            18          INDIA
RUS         Russia           200         RUSSIA

In [30]:
#numpy loop examples
import numpy as np

np_height = np.array([72, 75, 68, 80])

for x in np_height:
    print(str(x) + " inches")

72 inches
75 inches
68 inches
80 inches

In [32]:
np_baseball = np.array([
    [180, 78],
    [215, 74],
    [210, 72]
])

for y in np.nditer(np_baseball):
    print(y)

180
78
215
74
210
72